<web-app>
	<context-param>
     <param-name>user</param-name>
     <param-value>root</param-value>
	</context-param>
	
	<context-param>
     <param-name>pass</param-name>
     <param-value>mysql</param-value>
	</context-param>
	
	<context-param>
     <param-name>url</param-name>
     <param-value>jdbc:mysql://localhost:3306/coforge_db</param-value>
	</context-param>
	
	<context-param>
     <param-name>driver</param-name>
     <param-value>com.mysql.cj.jdbc.Driver</param-value>
	</context-param>
	
	
	
</web-app>